body {
    margin: 0;
    background: #0081C6;
}

.green {
    background-color: #2ead6d;
}
.red {
    background-color: #e31d65;
}
.purple {
    background-color: #5943aa;
}
.blue {
    background-color: #008597;
}
.orange {
    background-color: #ff7c35;
}
.yellow {
    background-color: #ffcc00;
}

.container {
    position: absolute;
    width: 100%;
    top: 82px;
    bottom: 82px;
    padding: 0;
    margin: 0;
}

circle.purple {
    color: #5943aa;
}

.separator {
    display: block;
    margin: 300px 0 300px 0;
}

.button {
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    border-width: 0;
    color: white;
    padding: 26px;
    font-size: 30px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
    transition: box-shadow 150ms ease-in;
}

.wrappy {
    position: absolute;
    display: inline;
    color: #ffcc00;
    font-size: 30px;
    line-height: 82px;
    right: 20px;
}

.button:focus {
    outline:none;
}

.button:hover {
    box-shadow: 10px 10px 0 #1a2434;
    transition: box-shadow 150ms ease-in;
}

.button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.toolbar {
    left: 0;
    right: 0;
    background-color: #2ead6d;
}

.toolbar-bottom {
    position: absolute;
    bottom: 0;
}